@model LogicSchemeManager.Models.Element

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Element</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Schema)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Schema.SchemaId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ElementType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ElementType.ElementTypeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ElementId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
