@model LogicSchemeManager.Models.CombinationPort

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CombinationPort</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Combination)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Combination.CombinationId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Port)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Port.PortId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CombinationPortId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
