@model IEnumerable<LogicSchemeManager.Models.CombinationPort>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Combination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Port)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Combination.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Port.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CombinationPortId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CombinationPortId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CombinationPortId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
